<section class="promo">
    <h3 class="promo__title">
        Explore eero systems on
    </h3>
    <svg class="promo__svg">
        <use href="./images/logo.svg">
        </use>
    </svg>
    <p class="promo__label">
        Shop now
    </p>
    <h2 class="promo__title">
        More wifi for the devices in your connected home.
    </h2>
    <p class="promo__label">
        eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s efficiency, and reduce
        network congestion. Say goodbye to dead spots and buffering with a connection that doesn’t slow you down, even as you
        add more devices.
    </p>
    <button class="promo__btn">
        Find your eero system
    </button>
    <img class="promo__png" src="./images/promo.svg" alt="familia">
</section>